<div class="container">
    <h2>Customers</h2>      
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John Doe</td>
            <td>john@example.com</td>
            <td>555-925-4568</td>
            <td>Street Avenue</td>
            <td>New York</td>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>john@example.com</td>
            <td>555-925-4568</td>
            <td>Street Avenue</td>
            <td>New York</td>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>john@example.com</td>
            <td>555-925-4568</td>
            <td>Street Avenue</td>
            <td>New York</td>
        </tr>
        </tbody>
    </table>
</div>