.box {
    margin: 50px 0;
    background-color: white;
    border: 1px solid;
}

.title {
    padding-bottom: 25px;
    background-color: #343a40;
    color: white;
    margin: 0px;
}

.shadow {
    box-shadow: 1px 1px 2px 2px #ccc;
}

.col-sm-12 {
    padding-top: 25px;
    margin: 0px;
}