<div class="container">
    <form>
        <div class="form-row">
            <div class="col-sm-6">
                <label for="validationDefault01">Name</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Your Name" required>
            </div>
            <div class="col-sm-6">
                <label for="validationDefault02">E-mail</label>
                <input type="email" class="form-control" id="validationDefault02" placeholder="E-mail" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-6">
                <label for="validationDefault03">Phone</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Phone Number" required>
            </div>
            <div class="col-sm-6">
                <label for="validationDefault04">Zip</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="Zip" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-12">
                <label for="validationDefault05">Address</label>
                <input type="text" class="form-control" id="validationDefault05" placeholder="Address" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-6">
                <label for="validationDefault06">City</label>
                <input type="text" class="form-control" id="validationDefault06" placeholder="City" required>
            </div>
            <div class="col-sm-6">
                <label for="validationDefault07">State</label>
                <input type="text" class="form-control" id="validationDefault07" placeholder="State" required>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" (Click)=</button>>Save Customer</button>
        </div>
    </form>
</div>